@{
    ViewData["Title"] = "Home Page";
}
@model Drinks_Machine.Models.CoffeeModel;

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var product in Model.Recipe)
    {
        @product;
    }

    <p>@Model.Name</p>

</div>*@
<div id="content">
    <h1 id="header">Drinks Machine</h1>
    <select id="select"></select>
    <h3 id="textDisplay"></h3>
</div>
